.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  background-color: hsl(0, 0%, 100%, 0.4);
  color: rgb(6, 67, 58);
  border-radius: 12px;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px;
  width: 320px;
}
.card_deleted {
  background-color: rgba(184, 94, 94, 0.8);
}
/* .card:hover {
  background-color: rgba(25, 126, 144, 0.679);
  color: rgba(255, 255, 255, 0.74);
} */
.card p {
  padding-block: 5px;
  font-weight: 600;
}
