.country_info {
  position: absolute;
  top: 330px;
  left: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  font-family: "Exo 2", sans-serif;
}
.lang_ka {
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 14px;
}
