.hero_section {
  height: 90vh;
  position: absolute;
  width: 100%;
}
.hero_section_info {
  position: absolute;
  top: 10%;
  left: 25%;
  font-family: "Exo 2", sans-serif;
}
.hero_section_info h2 {
  font-size: 36px;
  font-weight: 500;
}
.hero_section_info p {
  margin-top: 70px;
}
.hero_background_img {
  position: relative;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
