.hero_section {
  height: 150vh;
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero_section_info {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Exo 2", sans-serif;
  line-height: 2em;
}
.hero_section_info h2 {
  font-size: 32px;
  font-weight: 500;
}
.hero_section_info p {
  margin-top: 70px;
}
.hero_background_img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.lang_ka {
  font-family: "Noto Sans Georgian", sans-serif;
  /* font-size: 14px; */
  font-weight: 700;
}
@media only screen and (max-width: 992px) {
  .hero_section > button {
    top: 710px;
  }
}
