.card_country_name {
  font-weight: 700;
  font-size: 22px;
  padding: 5px 0 15px 0;
}
.card_flag {
  height: 100px;
  max-width: 151px;
  padding: 3px;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255, 0.2);
}
