@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.header {
  position: relative;
  width: 100%;
  height: 10vh;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(
    90deg,
    rgba(25, 126, 144, 0.679) 0%,
    rgba(106, 143, 137, 0.84) 50%,
    rgba(6, 67, 58) 100%
  );
}
.title-logo {
  width: 30px;
  height: 30px;
}
.header-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  white-space: nowrap;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.header-title-container:hover {
  background-color: rgba(255, 255, 255, 0.34);
}

.header-navbar-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.header-navbar-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 90%;
}
.header-navbar-box li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  padding: 5px;
  border-radius: 5px 10px;
  width: 105px;
}
.header-navbar-box li:hover {
  background-color: rgba(255, 255, 255, 0.34);
  color: rgba(6, 67, 58);
}
.hero-section {
  height: 90vh;
  position: absolute;

  width: 100%;
}
.hero-section-info {
  position: absolute;
  top: 10%;
  left: 25%;
  font-family: "Exo 2", sans-serif;
}
.hero-section-info h2 {
  font-size: 36px;
  font-weight: 500;
}
.hero-section-info p {
  margin-top: 70px;
}
.hero-background-img {
  position: relative;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.country-info {
  position: absolute;
  top: 250px;
  left: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  font-family: "Exo 2", sans-serif;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  background-color: hsl(0, 0%, 100%, 0.4);
  color: rgb(6, 67, 58);
  border-radius: 12px;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px;
  width: 320px;
}
.card:hover {
  background-color: rgba(25, 126, 144, 0.679);
  color: rgba(255, 255, 255, 0.74);
}
.card p,
h1 {
  padding-block: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.card h1 {
  font-weight: 700;
  font-size: 22px;
  padding: 5px 0 15px 0;
}
.card img {
  height: 100px;
  max-width: 151px;
}
