.card_likes_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.likes_container {
  padding-block: 5px;
  font-weight: 600;
}
.buttons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 5px;
}
.buttons_container > div {
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.like_count {
  color: rgb(238, 200, 10);
  font-weight: 700;
}
.buttons_container button {
  background-color: rgb(238, 200, 10, 0.11);
  height: 50%;
  padding: 4px 18px;
  border: 2px solid rgb(238, 200, 10, 0.7);
  color: rgb(238, 200, 10);
}
.buttons_container button:hover {
  background-color: rgba(105, 93, 24, 0.7);
  border: 2px solid rgb(238, 200, 10);
}
/* .buttons_container button:disabled {
  border-color: rgb(166, 159, 159);
} */
